*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  @font-face {
    font-family: 'sans';
    src: url('font/IRANSans 400.ttf') format('truetype');
}
body{
    direction: rtl;
    font-family: 'sans';
}
.container{
    width: 1350px;
    margin: 0 auto;
    position: relative;
}
header,main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all .3s;
}
h1{
    color: #336d82;
}

li{
    list-style: none;
}
p{
    color: #595959;
}
.show{
    opacity: 1;
}
.menuBar{
    z-index: 16;
    display: flex;
    align-items: center;
    gap: 275px;
    position: relative;
}
#bars{
    z-index: 16;
    font-size: 22px;
    color: #336d82;
    display: none;
}
#xMark{
    position: absolute;
    font-size: 28px;
    left: 30px;
    top: 30px;
    z-index: 21;
    color: #f5ece0;
    display: none;
}
#xMarks{
    position: absolute;
    font-size: 28px;
    left: 30px;
    top: 30px;
    z-index: 21;
    color: #336d82;
    display: block;
}
#bars:hover{
    color: #5f99ae;
}

header nav{
    z-index: 10;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 24px auto;
}
header nav ul li a{
    font-weight: bold;
}
header nav ul li a:hover{
    color: #5f99ae;
}
.searchBoxAndLogin{
    z-index: 10;
}
.searchBoxAndLogin a{
    background-color: #5f99ae;
    color:#fff;
    padding: 8px;
    border-radius: 5px;
    z-index: 3;
}
.banner-right a:hover,.searchBoxAndLogin a:hover{
    background: transparent;
    border: 1px solid #5f99ae;
    color: #5f99ae;
}
.searchBox{
    width: 100%;
    height: 100%;
    background-color: #f5ece0a6;
    backdrop-filter: blur(5px);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: -1000px;
    right: 0;
    z-index: 20;
    transition: all .5s;
}
.searchBox form{
    width: 40%;
    position: relative;
}
.searchBox input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    padding: 0 16px;
    border: 1px solid #336d82;
    outline: none;
    font-size: 18px;
    font-family: 'sans';
}
.searchBox button{
    padding: 16px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #336d82;
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 140px;
    opacity: .5;
    transition: all 2s;
}
.banner .banner-right{
    width: 60%;
    height: 445px;
}
.banner .banner-left{
    width:40%;
}
.banner .banner-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px 0 0;
    position: absolute;
    right: -1000px;
    transition: all 2s;
}
.banner-right p{
    line-height: 2.5;
    margin: 20px auto;
    text-align: justify;
    font-size: 17px;
}
.banner-right a{
    background-color: #5f99ae;
    padding: 8px 32px;
    color: #fff;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    position: absolute;
    left: 16px;
    bottom: 0;
}
.banner .banner-left .banner-picture{
    width: 500px;
    height: 690px;
    background-color: #f5ece0;
    border-radius: 0 0 250px 250px;
    position: absolute;
    top: -1000px;
    left: 16px;
    z-index: 1;
    transition: all 3s;
}
.banner-picture img{
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 85px;
  transform: scale(0);
  transition: all 5s;
}
/*********************/
@media only screen and (min-width:600px) and (max-width:900px){
.container{
    width: 900px;
}
header{
    width: 90%;
    margin: 0 auto;
}
.banner{
    padding: 8px;
    justify-content: space-between;
}
.banner .banner-right{
    width: 50%;
    height: 375px;
}
.banner .banner-left .banner-picture{
    width: 400px;
    height: 570px;
}
.menuBar{
    gap: 60px;
    transition: all .3s;
}
}
@media only screen and (max-width: 576px) {
  .container{
    width: 100%;
  }
  header{
    width: 90%;
    margin: 20px auto;
}
#logo{
    margin: 68px auto 28px;
}
#xMark{
    display:block;
}
  header .menuBar{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #5f99ae;
    z-index: 17;
}
header nav ul{
    flex-direction: column;
}
header nav ul li a{
    color: #f5ece0;
}
  .banner{
    flex-direction: column-reverse;
    padding: 0;
  }
.banner .banner-left{
    width: 100%;
    position: relative;
}
.banner .banner-right{
    width: 90%;
    margin: 0 0 32px;
}
.banner .banner-right a{
    left: 0;
    bottom: -25px;
}
.banner .banner-left .banner-picture{
    position: relative;
    width: auto;
    height: 530px;
    top: -60px;
    left: 0;
}
.banner .banner-left .banner-picture img{
    left: 60px;
}
#bars{
    display: block;
    cursor: pointer;
}
.searchBox form{
    width: 85%;
}
}